{
    "trailingComma": "es5",
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "printWidth": 120,
    "bracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSpacing": false
}
